@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Entire HTML body*/
body {
  width: 100%;
  background-color: transparent;
  font-family: Lato;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  overflow-x: hidden;
  /*main container wrapper*/
  /*footer section*/
}
    body .mainContainer {
        height: 1000px !important;
        padding: 0 8%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://th.bing.com/th/id/R.6d3718ca3a5a4716f5e8538a18ca450f?rik=GZtE9WL5v8zLrw&riu=http%3a%2f%2fwww.drodd.com%2fimages14%2fblack15.jpg&ehk=hJBdca%2f%2bFH4lwRrq6pqcsLQKekAfATNjXRAyINSnNDA%3d&risl=&pid=ImgRaw&r=0);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        overflow: hidden;
        /*Navigation menu section*/
        /*legend section*/
    }
body .mainContainer .navbar {
  height: 70px;
  background-color: transparent;
  padding: 0;
}
body .mainContainer .navbar .navbar-brand {
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  margin-left: 13%;
  transition: all;
  transition-duration: 1s;
}
body .mainContainer .navbar .navbar-brand:hover, body .mainContainer .navbar .navbar-brand:focus {
  transform: scale(1.2);
  -webkit-text-stroke: 1px #fff;
  -webkit-text-stroke-color: transparent;
}
body .mainContainer .navbar .navbar-collapse {
  justify-content: flex-end;
}
body .mainContainer .navbar .navbar-collapse .navbar-nav {
  width: 70% !important;
  position: relative;
}
body .mainContainer .navbar .navbar-collapse .navbar-nav .last {
  position: absolute;
  right: 0 !important;
}
body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item {
  margin: 0 10px;
}
body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 10px 0x;
  font-weight: 800;
  transition: all;
  transition-duration: 1s;
}
body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  border-bottom: 2px solid #fff;
  transform: translateY(-5px);
}
body .mainContainer .legend {
  margin-top: 130px;
  height: 770px;
  color: #fff;
  /*legend introduction text*/
}
body .mainContainer .legend .legend__text {
  width: 100%;
}
body .mainContainer .legend .legend__text .introText {
  text-align: center;
}
body .mainContainer .legend .legend__text .introText .introText__heading {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 30px;
  font-weight: 800;
}
body .mainContainer .legend .legend__text .introText .introText__heading span {
  opacity: 0.8;
  font-weight: 400;
}
body .mainContainer .legend .legend__text .introText .introText__link a {
  color: #fff;
  font-weight: 800;
  padding: 10px 0;
  border-bottom: 2px solid #fff;
  transition: all;
  transition-duration: 1s;
}
body .mainContainer .legend .legend__text .introText .introText__link a:hover, body .mainContainer .legend .legend__text .introText .introText__link a:focus {
  text-decoration: none;
  filter: blur(1px);
}
body .footer {
  text-align: center;
  height: 50px;
  width: 100%;
  bottom: 0 !important;
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
body .footer .footer__text a {
  color: red;
}
body .footer .footer__text a:hover, body .footer .footer__text a:focus {
  text-decoration: none;
}

/*Responsiveness for screens*/
@media screen and (max-width: 1600px) {
  body .mainContainer .navbar .navbar-brand {
    margin-left: 6%;
  }
}
@media screen and (max-width: 1350px) {
  body .mainContainer .navbar .navbar-brand {
    margin-left: 2%;
  }
}
@media screen and (max-width: 1200px) {
  body .mainContainer {
    padding: 0 3%;
  }
}
@media screen and (max-width: 1000px) {
  body .mainContainer {
    padding: 0 1%;
  }
  body .mainContainer .navbar .navbar-nav .last {
    position: relative !important;
  }
}
@media screen and (max-width: 767px) {
  body .mainContainer {
    padding: 0 2%;
    height: 800px !important;
  }
  body .mainContainer .navbar {
    margin-bottom: 200px;
  }
  body .mainContainer .navbar .navbar-brand {
    margin-left: 0 !important;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav {
    width: 100% !important;
    background-color: #333;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .last {
    position: relative !important;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
    border-bottom: 2px solid #fff;
    transform: translateY(-5px);
  }
  body .mainContainer .legend {
    height: 550px;
  }
  body .mainContainer .legend .legend__text {
    padding: 0;
    height: 400px !important;
  }
  body .mainContainer .legend .legend__text .introText {
    width: 100%;
    text-align: center;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 32px;
  }
}